.background    { background-image: url("http://www.easyfreepatterns.com/patterns/25/kirby&hearts-pixel-backgrounds-i-made-for-my-blog-&8255-you-25642.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: linear-gradient(yellow, red); }
.toxic         { background: linear-gradient(purple, green); }
.wall          { background-image: url("http://orig00.deviantart.net/e4dd/f/2011/104/9/e/pixel_art_floor_pattern_1_by_ifanyonecould-d3dz2hf.png");   }
.door          { background: linear-gradient(green, white, green); }

.actor  { position: absolute;  }
.coin   { background: radial-gradient(circle, white, yellow, black); }
.player { background: linear-gradient(red, blue); }
.pickup { background: radial-gradient(circle, blue, yellow, blue); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}


.pickup .player {
  background: linear-gradient(blue, red);
}
.lost .player {
  background: linear-gradient(red, blue);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}


