.background    { background-color: blue;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: orange; }
.wall          { background: white;   }

.actor   { position: absolute;  }
.coin    { background-color: yellow; }
.player  { background-color: red; }
.floater { background-color: green; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
