.background    { background-image: url("http://www.easyfreepatterns.com/patterns/6/made-a-simple-background-pattern-that-tiles-please-credit-if-you--6112.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: orange; }
.wall          { background-image: url("http://makepixelart.com/peoplepods/files/images/2152.original.png");   }
.floater { background-color: green; }

.actor   { position: absolute;  }
.coin    { background-color: yellow; }
.player  { background-color: red; }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
